<!DOCTYPE html>
<html>
<head>
    <title>CampusFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="headline">
        <h1>☕Hangout Spot notedd.... 🎓</h1>
    <p>
        Take some rest because you have done a lot of  hard work buddyy...
    </p>

    </div>
    
    <div class="hangout-container">
        <div class="cafe-card">
            <img src="static/images/cafeimg.jfif" class="card-image">
            <h2>☕ Cafes</h2>
            <h4>Coffee first. Breakdown later..</h4>

            <a href="/cafes" class="explore-btn">Explore</a>
        </div>
        <div class="cafe-card">
            <img src="static/images/cineimg1.jfif" class="card-image">
            <h2>🎬 Movies</h2>
            <h4>Main character energy starts here</h4>

            <a href="/movies" class="explore-btn">Explore</a>
        </div>
        <div class="cafe-card">
            <img src="static/images/tripimg1.jfif" class="card-image">
            <h2>🌴 Trip</h2>
            <h4>Random plans become best memories</h4>

            <a href="/trips" class="explore-btn">Explore</a>
        </div>
        
        
    </div>

    
</body>
</html>