<!DOCTYPE html>
<html>
<head>
    <title>CampusFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="hero">
    <h1>🎓 Welcome to CampusFlow</h1>
    <p>Manage assignments, plan studies and enjoy campus life.</p>
    </div>

    <nav>
    

    <div class="card">
        <h3>📚 Assignments</h3>
        <p>Track deadlines and submissions</p>
        <a href="/assignment">Open</a>
    </div>

    <div class="card">
        <h3>Study planner</h3>
        <p>Smart schedules, focused learning, better results..</p>
        <a href="/planner">Open</a>
    </div>

    <div class="card">
        <h3>🌤️ Hangout</h3>
        <p>Plan breaks and outings</p>
        <a href="/hangout">Open</a>
    </div>

</div>
    </nav>
</body>
</html>